@import "tailwindcss";

:root {
  --background: #f6e8e4;
  --foreground: #0f0705;
  --primary: #e1ac9d;
  --secondary: #823a26;
  --accent: #cc5c3e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-header: var(--font-header);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0705;
    --foreground: #f6e8e4;
    --primary: #e1ac9d;
    --secondary: #823a26;
    --accent: #cc5c3e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 {
  @apply text-9xl font-header
}

h2 {
  @apply text-8xl font-header
}

h4 {
  @apply text-[1.7rem]
}

p {
  @apply text-xl
}

button {
  @apply bg-primary text-background hover:text-primary hover:bg-secondary hover:cursor-pointer hover:px-5 duration-150 py-2 px-4 rounded-sm fill-primary
}

button.

input {
  @apply outline-primary/10 outline-2 pl-2 p-1 text-[1.4rem] hover:outline-primary focus:outline-primary focus:rounded-4xl focus:pl-4 duration-750 not-placeholder-shown:outline-primary
}