@import "tailwindcss";

@plugin 'tailwind-scrollbar';

:root {
  --background: #f6e8e4;
  --foreground: #0f0705;
  --primary: #e1ac9d;
  --secondary: #823a26;
  --accent: #cc5c3e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-header: var(--font-header);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0705;
    --foreground: #f6e8e4;
    --primary: #e1ac9d;
    --secondary: #823a26;
    --accent: #cc5c3e;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
}

body {
  @apply scrollbar-thumb-primary scrollbar-track-secondary/0
}

h1 {
  @apply text-9xl font-header
}

h2 {
  @apply text-8xl font-header
}

h4 {
  @apply text-[1.7rem]
}

h5 {
  @apply text-[1.4rem]
}

p {
  @apply text-xl
}

button {
  @apply bg-primary text-background hover:text-primary hover:bg-secondary hover:cursor-pointer hover:px-5 duration-150 py-2 px-4 rounded-sm fill-primary
}

input {
  @apply outline-primary/10 outline-2 pl-3 p-1 text-[1.4rem] hover:outline-primary focus:outline-primary focus:rounded-4xl duration-750 not-placeholder-shown:outline-primary
}

.link {
@apply fill-secondary flex items-center gap-1 text-primary hover:text-secondary hover:fill-secondary hover:cursor-pointer duration-100
}

.white-link {
@apply fill-secondary flex items-center gap-1 text-primary hover:text-foreground hover:fill-secondary hover:cursor-pointer duration-100
}

.is-invisible {
  @apply hidden transition-discrete
}

.is-visible {
  @apply opacity-100 absolute
}

@starting-style {
  .is-visible {
    @apply opacity-0
  }
}
